{% extends 'base.html' %}

{% block content %}

    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            {% if target_user.profile %}
                <img src = "{{ target_user.profile.image.url }}"
                     class = "profile_image m-4"
                     alt = "profile image">
                                <h2 class="NNS_B">
                    {{ target_user.profile.nickname }}
                    {% if target_user == user %}
                        <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
                            class="material-icons round_button">
                            edit
                        </a>
                    {% endif %}
                </h2>
                <h5>{{ target_user.profile.message }}</h5>
            {% else %}
            <h4>
                <a href = "{% url 'profileapp:create' %}">
                    Create Profile
                </a>
            </h4>
            {% endif %}
        </div>
{#        <div>#}
{#            {{ target_user.date_joined }}#}
{#        </div>#}

        {% if user == target_user %}     {# 요청 user, target 동일시에만 아래화면 보여줌 #}

        <div>
            <a href="{% url 'accountapp:update' pk=target_user.pk %}"
                class="material-icons round_button mx-4"
                style = font-size:3rem;> {# 아이콘 크기 #}
                manage_accounts
            </a>
{#        </div>#}
{#        <div>#}
            <a href="{% url 'accountapp:delete' pk=target_user.pk %}"
                class="material-icons round_button mx-4"
                style = font-size:3rem;>
                close
            </a>
        </div>

        {% endif %}
    </div>

    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>

{% endblock %}