.oneproduct_header_logo {
    margin: 2rem 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Kanit', sans-serif;
    /*#        margin : 상하 rem 좌우 ; #*/
}

.oneproduct_header_button {
    margin-bottom: 2rem;
}

.oneproduct_footer_logo {
    magin: 1.5rem;
    font-family: 'Comfortaa', cursive;
    font-family: 'Kanit', sans-serif;

}

.oneproduct_footer_button {
    margin: 1.5rem 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Kanit', sans-serif;


}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image{
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
/*    object-fit >> 이미지 사이즈맞추기 */
}