<div style="text-align: center; font-family: 'Comfortaa', cursive;
font-family: 'Kanit', sans-serif;">
    <h1>ONE PRODUCT</h1>
    <div>


        <span>nav1</span>
        <span>nav2</span>
        {%  if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>

        <span>
            <a href="{% url 'accountapp:create' %}">
                Sign Up
            </a>

        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        {% endif %}

    </div>

</div>

